/*
 * SPDX-License-Identifier: Apache-2.0
 */

 #include <zephyr/dt-bindings/input/input-event-codes.h>

/{
	buttons {
		compatible = "gpio-keys";
		button0: button0 {
			gpios = <&gpio0 28 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			zephyr,code = <INPUT_KEY_0>;
		};
	};
};
